/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    /* color: #292f36; */
    color: indigo;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* header  */
header {
    background-color: #f7fff7;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #878787;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid indigo;
}

/* navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #f7fff7;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #878787;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    align-self: center;
}

/* main */
main {
    /* background-color: #4ecdc4; */
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* hero section */

#hero {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(240, 110, 110, 0.65);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: rgba(255,255,255, .9)
}

/* footer  */
footer {
    /* own colour choice */
    background-color: #ffe66d;
    width: 100%;
}

#social {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#social a {
    text-decoration: none;
    color: inherit;
}

#social li {
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

/* media query: for tables and larger, 768px and up */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
    }

    /* hero */
    #cover-text {
        width: 300px;
        right:50px;
    }
}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid indigo;
    }
}