/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles - color pallete: #292f36 blackish, #4ecdc4 bluish, #f7fff7 whitish, #ff6b6b reddish, #ffe66d yellowish*/
    color: #292f36;
    font-family: 'Lato', sans-serif;
}

/* header  */
header {
    background-color: #f7fff7;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    /* original: 0 2px 2px #3a3a3a */
    box-shadow: 0 2px 15px #aaaaaa;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #292f36;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
    /* this was 4px in the walkthrough, but i like it with 2px */
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #292f36;
}

/* main */
main {
    background-color: #4ecdc4;
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
}

/* footer  */
footer {
    background-color: #ffe66d;
    /* used my own color pallet */
    text-align: center;
}