/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    /* color: #292f36; */
    color: indigo;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hidden-heading {
    display: none;
}

/* header  */
header {
    background-color: #f7fff7;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #878787;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid indigo;
}

/* navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #f7fff7;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #878787;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    align-self: center;
}

/* main */
main {
    /* background-color: #4ecdc4; */
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    background-color: rgb(255, 250, 230);
    display: flex;
    flex-direction: column;
}

/* hero section */

#hero {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(240, 110, 110, 0.65);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    /* color: rgba(255, 255, 255, .9) */
    color: rgb(255, 250, 230, .9);
}

#reasons {
    margin: 20px auto;
    width: 90%;
}

#reasons h2 {
    font-size: 280%;
    text-align: center;
    margin-bottom: 20px;
}

#benifits-physical>div,
#benifits-mental>div {
    margin-bottom: 20px;
    line-height: 20px;
}

#benifits p {
    padding: 0 20px;
    margin-bottom: 20px;
}

#reasons hr {
    border-top: 1px solid indigo;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url('../images/reasons-image.webp') no-repeat top center/cover;
    margin-bottom: 20px;
    height: 90vw;
    width: 90vw;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benifits-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#times {
    background: url('../images/dublin-city.webp') no-repeat center center / cover;
    display: flex;
    flex-wrap: wrap;
}

#times div {
    color: rgba(255, 250, 230, 1);
    background-color: rgba(0, 0, 0, .55);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid rgb(255, 250, 230);
}

#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* footer  */
footer {
    /* own colour choice */
    background-color: #ffe66d;
    width: 100%;
}

#social {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#social a {
    text-decoration: none;
    color: inherit;
}

#social li {
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

#signup {
    background-image: url("../images/signup-image.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color: rgb(255, 250, 230);
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#signup-form>h2 {
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: rgb(255, 250, 230);
    border: 1px solid rgb(255, 250, 230);
    border-radius: 2px;
    width: 100%;
    margin: 5px 0 20px 0;
    height: 25px;
    padding: 0 5px;
}

#radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: rgb(255, 250, 230);
}

@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* media query: for tables and larger, 768px and up */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
    }

    /* hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* reasons section */
    #benifits-physical,
    #benifits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    #benifits-physical>div,
    #benifits-mental>div {
        width: 75%;
    }

    #benifits-mental>div {
        text-align: end;
        align-self: flex-end;
    }

    #photos {
        column-count: 3;
        column-gap: 0;
    }

    #signup {
        background-position :center;
        position: relative;
    }

    #signup-form {
        position:absolute;
        left:10%;
        top:150px;
        max-width: 400px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: rgb(60, 65, 41);
        color: #454b1b;
    }
}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid indigo;
    }

    #photos {
        column-count: 4;
        column-gap: 0;
    }
}

@media screen and (min-width: 1200px) {
    #benifits {
        display: flex;
        flex-direction: row;
    }

    #benifits>div {
        flex: 1;
    }

    #benifits-image {
        order: 0;
    }

    #benifits-mental {
        order: 1;
    }

    #benifits-mental>div {
        align-self: flex-start;
    }

    #benifits-physical>div {
        align-self: flex-end;
    }
}